@import "src/Styles/variables";

.input {
    background: $pink-gradient;
    border: none;
    border-radius: 7px;
    padding: 11px 17px;
    color: black;
    outline-color: $outline-pink;
    width: 311px;
    font-size: 12px;
    font-weight: 400;

    &_disabled {
        opacity: 0.6;
    }
}