.form {
  position: relative;

  &__input {
    padding-left: 60px;
  }

  &__submit {
    position: absolute;
    height: 16px;
    width: 17px;
    top: 10px;
    left: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__icon:before {
    content: "";
    position: absolute;
    left: 30px;
    top: 10px;
    height: 16px;
    width: 17px;
    background: url("./SearchIcon.svg") center / contain no-repeat;
  }
}